.places{
    display: flex;
    padding-left: 30px;
    flex-direction: column;
    text-align: left;
}

.places h1{
    color: black;
    font-size: 30px;
}

.articles{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: center;
}

article{
    width: 390px;
    margin: 20px;
    padding: 2px;
    border: solid #ff5a5f 1px;
    border-radius: 4px;
    text-align: center;
    font-size: 30px;
}

.articles h2{
    color: black;
    font-size: 30px;
}
